@font-face {
  font-family: 'Exo2.0-Thin';
  src: url('Exo2.0-Thin.eot');
  src: local('Exo2.0 Thin'), local('Exo2.0-Thin'),
    url('Exo2.0-Thin.eot?#iefix') format('embedded-opentype'),
    url('Exo2.0-Thin.woff2') format('woff2'), url('Exo2.0-Thin.woff') format('woff'),
    url('Exo2.0-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
